<footer class="colored-section" id="footer">
  <div class="copyright container">
    <!--調整大小的說明 https://fontawesome.com/v6/docs/web/style/size#literal-sizing -->
    <a href="https://www.linkedin.com/in/yenchou-chen-3a27a2210/" target="_blank"><i
        class="social-icon fa-brands fa-linkedin fa-3x"></i></a>
    <a href="https://github.com/7POKING" target="_blank"><i class="social-icon fa-brands fa-github fa-3x"></i></a>
    <a href="mailto:chipao.king@gmail.com, gram-positive@hotmail.com" target="_blank"><i
        class="social-icon fas fa-envelope fa-3x"></i></a>
    <a href="https://line.me/ti/p/0OufIuMBVu" id="share-to-line"><i class="social-icon fab fa-line fa-3x"></i></a>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </div>

  <div class="container">
    <p class="copyright">Copyright © YenChou Chen 2022</p>
    <!-- 下面這個連結與icon連結的差異是公佈這個網頁的code 這裡強調是Find  the code -->
    <p class="copyright">Built from scratch - Find the code on <a href="#" target="_blank" rel="noopener noreferrer"
        style="color: #36AE7C">GitHub</a> - I'd love to hear feedback</p>
    <!--target="_blank" rel="noopener noreferrer" 解釋: https://pjchender.blogspot.com/2020/05/relnoreferrer-targetblank.html -->
    <p class="copyright">
      <%= kindOfDay %>
    </p>
  </div>

</footer>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!-- 把 popper的CDN放在這邊才能跑 -->

<!-- 使用 5.3.2 版 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<!-- 使用 5.1.3 版 -->
<!-- 合併的Bundle -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
<!-- 使用Boostraps 5.2.3版 script-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->

<!-- 分開的 Bundle-->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->

<!-- 為了navbar padding往下 -->
</div>
</body> 

</html>