<!DOCTYPE html>
<!-- å› ç‚ºhtmlä¸‹æ–¹åŒ¯å‡ºç¾å¥‡æ€ªçš„ç©ºç™½ï¼Œç”¨heightå¼·åˆ¶å¼„æŽ‰ -->

<!-- https://www.udemy.com/course/the-complete-web-development-bootcamp/learn/lecture/37389818#overview -->
<!-- å¯å°‡æ•´å€‹ç¶²é è®Šæˆæš—è‰²ç‰ˆ  https://getbootstrap.com/docs/5.3/customize/color-modes/-->
<!-- <html lang="en" data-bs-theme="dark">-->

<html lang="en">


<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- googleå­—åž‹ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">
  <!-- dicee game å­—åž‹ -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
  <!-- é‡è¤‡? -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->


  <!-- ä½¿ç”¨Boostraps 5.0.1ç‰ˆ-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
  <!-- ä½¿ç”¨Boostraps 5.0.2ç‰ˆ-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <!-- ä½¿ç”¨5.1.3ç‰ˆ -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <!-- ä½¿ç”¨Boostraps 5.2.3ç‰ˆ-->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
  <!-- ä½¿ç”¨Boostraps 5.3.2ç‰ˆ-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  <!--  iconScont çš„é€£æŽ¥-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- fontawesome iconçš„é€£æŽ¥ ä½¿ç”¨èªªæ˜Ž https://fontawesome.com/ -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <script src="https://kit.fontawesome.com/0289ed5c22.js" crossorigin="anonymous"></script>
  <!-- å¼•å…¥ jQuery å’Œ Bootstrap çš„ JavaScript æ–‡ä»¶ -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- navbar å‘ä¸‹æ²å‹•ç•«é¢éš±è—ï¼Œå¾€ä¸Šæ²å‹•é¡¯ç¤º -->
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar-title").style.top = "0";
      } else {
        document.getElementById("navbar-title").style.top = "-120px";
      }
      prevScrollpos = currentScrollPos;
    };
  </script>


  <title>YCC</title>
</head>

<body>

  <!-- -------------------------------------------- -->

  <section>
    <div id="navbar-title">
      <section class="colored-section" id="title">
        <!--è¨­å®šå…¨æ•¸å°é½Š -->
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">   -->
            <a class="navbar-brand" href="/">
              <!-- å¢žåŠ åœ–æ¡ˆ  class="d-inline-block align-text-bottom" å¯ä»¥èª¿æ•´å°é½Šä½ç½® https://getbootstrap.com/docs/4.0/utilities/vertical-align/-->
              <img src="http://localhost:7000/images/astronaut.png" alt="title-image" width="25" height="35"
                class="d-inline-block align-midle">
              YC Chen
            </a>
            <!-- å¢žåŠ  toggler æŒ‰éˆ•ï¼Œåœ¨é é¢ä¸æ˜¯navbar-expand-lgæ™‚å¯ä»¥è®Šæˆç¸®èµ·ä¾†çš„æ¨£å¼ data-bs-targe=é€£çµç¸®èµ·ä¾†çš„<div></div>ä¸­çš„ id -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- é€£çµçš„ div -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">


              <!-- CSS 5.0.1 ä»¥ä¸Šç‰ˆæœ¬ navbar é å³ https://getbootstrap.com/docs/5.1/utilities/flex/#auto-margins -->
              <ul class="navbar-nav ms-auto">


                <!-- ç”¨href=#section è·³åˆ°è¦çš„ä½ç½®-->
                <li class="nav-item">
                  <a class="nav-link" href="/#skills">Skill</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/#experience">Experience</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/#education">Education</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/#articles">Articles</a>
                </li>

                <!-- æ–°å¢žä¸‹æ‹‰å¼é¸å–® dropdownåŠŸèƒ½ åŠ å…¥ profile -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="portfolioDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Portfolio
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
                    <li><a class="dropdown-item" href="/calculatorBMI"><i class="fa-solid fa-weight-scale"></i>
                        Calculator BMI</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-drum"></i> Drum Kit</a></li>
                    <li><a class="dropdown-item" href="/diceeGame">ðŸŽ² Dicee Game</a></li>
                    <!-- è®“iconéª°å­ä¸€ç›´è½‰  ç¶²ç«™æ–°å¢žæŒ‰éˆ•å¯ä»¥flashç¶²é -->
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-game-board-simple"></i><i
                          class="fa-solid fa-border-all"></i> Simon Game</a></li>
                    <li><a class="dropdown-item" href="#">ðŸ”¦ Keeper</a></li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Python Portfolio</a></li>
              </ul>

              <!-- æ–°å¢žä¸‹æ‹‰å¼é¸å–® dropdownåŠŸèƒ½ åŠ å…¥ Blog -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Blog
                </a>
                <ul class="dropdown-menu" aria-labelledby="blogDropdown">
                  <li><a class="dropdown-item" href="/blogHome">My Blog</a></li>
                  <li><a class="dropdown-item" href="/blogAbout">About me</a></li>
                  <li><a class="dropdown-item" href="/blogCompose">Compose</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/#testimonials"> Photos</a>
              </li>

              <li class="nav-item">
              <a class="nav-link" href="/#footer">Contact</a>
              </li>
            </div>
          </nav>
        </div>
    </div>

    <!-- -------------------------------------------- -->
  </section>

  <body class="for_navbar_padding">



    <!-- 
  window.onscroll = function () { myFunction() };

  var navbar = document.getElementById("navbar-title");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  var prevScrollpos = window.pageYOffset; -->